<div class="authPageCont">
  <div class="authBox">
    
    <div class="formCont">
      <!-- <form> -->
        <h2>Login </h2>
        <div class="formFieldCont">
          <input type="text" placeholder="Username"/>
          <span class="fIcon"><img src="./assets/images/avatar.svg"width="20"  alt="User"/></span>
        </div>
        <div class="formFieldCont">
          <input type="password" placeholder="Password"/>
          <span class="fIcon"><img src="./assets/images/key.svg"width="18"  alt="Key"/></span>
        </div>
        <div class="formFieldCont">
          <button routerLink="/main/home">LOGIN</button>
        </div>
        <p>Don't have an account? <a routerLink="/auth/register">Signup</a></p>
      <!-- </form> -->
    </div>
  </div>
</div>
