<div class="feedbackContainer">
  <div class="navbar">
    <ul class="navSec">
      <li class="active"><a><img src="./assets/images/upload.svg" alt="upload" width="16"/></a>Upload Feedback</li>
      <li><a><img src="./assets/images/process.svg" alt="process" width="16"/></a>Process</li>
      <li><a><img src="./assets/images/result.svg" alt="Result" width="18"/></a>Result</li>
    </ul>
   
  </div>
  <div class="wrapper">
    <h1>Please Upload Your Feedback</h1>
    <div class="checkGroup">
      <label class="checkcontainer">
        <input type="checkbox" checked="checked">
        <span class="checkmark">FastText</span>
      </label>
      <label class="checkcontainer">
        <input type="checkbox">
        <span class="checkmark">SVM</span>
      </label>
      <label class="checkcontainer">
        <input type="checkbox">
        <span class="checkmark">VADER</span>
      </label>
      <label class="checkcontainer">
        <input type="checkbox">
        <span class="checkmark"> Logistic Regression</span>
      </label>
      <label class="checkcontainer">
        <input type="checkbox">
        <span class="checkmark">TextBlob</span>
      </label>
    </div>

    <h3>Upload Your CSV</h3>
    <div class="browseBtn">
      <div class="btns">
        <input type="file" />
        <span>Browse</span>
      </div>
      <p>sample.csv</p>
    </div>
    <button>PROCESS</button>
  </div>
</div>
