<div class="authPageCont">
  <div class="authBox">
    
    <div class="formCont">
      <form>
        <h2>Sign Up </h2>
        <div class="formFieldCont">
          <input type="text" placeholder="Name"/>
          <span class="fIcon"><img src="./assets/images/avatar.svg"width="20"  alt="User"/></span>
        </div>
        <div class="formFieldCont">
          <input type="text" placeholder="Username"/>
          <span class="fIcon"><img src="./assets/images/avatar.svg"width="20"  alt="User"/></span>
        </div>
        <div class="formFieldCont">
          <input type="password" placeholder="Password"/>
          <span class="fIcon"><img src="./assets/images/key.svg"width="18"  alt="Key"/></span>
        </div>
        <div class="formFieldCont">
          <input type="password" placeholder="Email"/>
          <span class="fIcon"><img src="./assets/images/email.svg"width="18"  alt="Key"/></span>
        </div>
        <div class="formFieldCont">
          <input type="password" placeholder="Phone"/>
          <span class="fIcon"><img src="./assets/images/phone.svg"width="18"  alt="Key"/></span>
        </div>
        <div class="formFieldCont">
          <button>SIGNUP</button>
        </div>
        <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
      </form>
    </div>
  </div>
</div>
